{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'core/css/about.css' %}">
</head>
<body>

    <header>
        <img class="logo_img" src="{% static 'core/images/logo.png' %}" alt="MediConnectLogo">
    </header>
    
    <div class="about-section">
        <div class="background">
             <img src="{% static 'core/images/about.jpg' %}" alt="about image">
        </div>

        <div class="description">
            <h1>About MediConnect</h1>
        <p>MediConnect is a platform dedicated to connecting individuals in need of medical supplies with donors willing to help. Our mission is to facilitate quick and efficient connections to save lives during emergencies.</p>
        <h2>Our Mission</h2>
        <p>To provide a reliable and accessible platform that bridges the gap between those in need of medical assistance and those willing to donate, ensuring timely support in critical situations.</p>
        <h2>How It Works</h2>
        <p>Users can register as either requesters or donors. Requesters can post their needs for blood or medicine, while donors can browse requests and offer their assistance. The platform uses location-based services to connect users in close proximity for faster response times.</p>
        <h2>Contact Us</h2>
        <p>If you have any questions or need support, please reach out to us at</p>
        <p>Email:support@mediconnect.com</p>
        <p>Phone: +1 234 567 890</p>
        </div>


        
    </div>

    
</body>
</html>