{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Register | MediConnect</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="auth-card">
    <h2>Register</h2>

    {% if error %}
      <div class="error">{{ error }}</div>
    {% endif %}

    <form method="POST" autocomplete="off">
        {% csrf_token %}

        <label>Email</label>
        <input type="email" name="email" placeholder="Enter email" required autocomplete="email">

        <label>Password</label>
        <input type="password" name="password" placeholder="Create password" required autocomplete="new-password">

        <label>Role</label>
        <div class="role-selection">
            <label><input type="radio" name="role" value="donor" required> Donor</label>
            <label><input type="radio" name="role" value="requester" required> Requester</label>
        </div>

        <button type="submit">Register</button>
    </form>

    <center>
    <div class="auth-footer">
        Already have an account?
        <a href="/login/">Login</a>
    </div>
    </center>
</div>

</body>
</html>